<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>Tell Date</title>
</head>
<body style="text-align: center;">
  <h1>Heyy! There</h1>
  <br>
  <% if (today === (0 || 6)) { %>
    <h2>I'm <%= mood %> to announce to you that it's <%= day %> today</h2>
    <h2>Enjoy your weekends 🥂🥳</h2>
    <% } else { %>
    <h2>I'm <%= mood %> to announce to you that it's <%= day %> today</h2>
    <h2>Have a nice day at work 🥹</h2>
  <% }%>
  <h3>Date: <%= dateformat %></h3>

  <a href="/list"><h1>View List</h1></a>
  <a href="/worklist"><h1>View Work List</h1></a>
</body>
</html>